*{
    margin: 0;
    padding: 0;
    font-family: "Genos", serif;
}

body{
    background-color: #242424;
    color: white;
}

header {
    display: flex;
    border-bottom: solid 1px #ffffff;
    padding-top: 10px;
}

.logo {
    width: 90px;
}
/*PERSONALIZAÇÃO DOS LINKS DO CABEÇALHO*/
.link-header {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 0;
    background-color: #242424;
    color: #FFA500;
}
/*PERSONALIZAÇÃO DOS LINKS DO CABEÇALHO*/
.link-header:hover {
    background-color: #242424;
    color: #008B8B;
}

.div-header {
    display: flex;
    align-items: center;
}

.div-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 40px;
}

.button-header {
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    background-color: #008B8B;
    color: #ffffff;
    cursor: pointer;
    margin-left: auto;
}

.button-header:hover {
    background-color: #FFA500;
    color: #242424;
}

.call-to-action-home {
    background-image: url(assets/cta.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to ritgh, #242424);
}

.button-cta {
    background-color: #008B8B;
    color: #ffffff;
}

h1{
    font-family: "Audiowide", serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
    text-align: left;
    width: 40vw;
    padding: 40px;
}

h2 {
    color: #ffffff;
    font-size: 45px;
}

h3 {
    font-size: 35px;
    margin-top: 20px;
    color: orange;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: justify;
}

.services {
    display: flex;
    justify-content: space-around;
}

.services-s-lp {
    width: 350px;
}

a{
    text-decoration: none;
    background-color: #008B8B;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    text-shadow: 1px 1px 1px black;
}

a:hover {
    background-color: #e09200;
}

a:active {
    opacity: 0.6;
}

.links{
    display: flex;
    align-items: center;
    height: 150px; 
}

#fotoLucas{
    width: 300px;
    border: solid 2px orange;
    box-shadow: 1px 1px 3px orange;
    margin-left: 50px;
}

strong{
    color: orange;
    font-family: "Audiowide", serif;
}

.link-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 840px;
}

.sobre{
    display: flex;
    background-color: #e09200;
    justify-content: center;
}

.depoimentos {
    display: flex;
    justify-content: space-around;
}

.client-depoiment {
    width: 350px;
}

main{
    max-width: 850px;
    margin: 10px auto;
}

.projetos {
    width: 200px;
    margin: 0 auto;
}

.links-projetos {
    margin: 0 auto;
}

.img-projetos {
    width: 80%;
    display: block;
    margin: 10px auto;
    justify-content: center;
}

footer {
    background-color: #e09200;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

footer p {
    font-size: 16px;
}

footer a {
    background-color: #e09200;
}

h4 {
    font-size: 30px;
}

.redes-sociais {
    display: flex;
    align-items: center;
}

.button-service {
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    background-color: #008B8B;
    color: #ffffff;
    cursor: pointer;
}

.button-service:hover {
    background-color: #e09200;
}

.button-center {
    text-align: center;
    padding: 20px;
}


@media screen and (max-width: 875px){
    body {
        padding: 0;
    }

   .div-header {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .sobre {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 35px;
        width: 80%;
    }

    .call-to-action-home {
        height: 35vh;
    }

    h2 {
        font-size: 40px;
        margin: 0 auto;
        text-align: center;
    }

    h3 {
        font-size: 30px;
    }

    p {
        width: 90%;
        font-size: 20px;
        display: block;
        margin: 10px auto;
    }

    .link-texto {
        width: 90%;
    }

    .link-texto {
        align-items: center;
    }

    a {
        width: 80px;
        height: 20px;
        font-size: 16px;
    }

    #fotoLucas {
        margin: 0 auto;
    }

    .links {
        height: 80px;
    }

    .depoimentos {
        flex-direction: column;
    }

    .projetos {
        display: block;
        margin: 10px auto;
        text-align: center;
    }

    footer {
        flex-direction: column;
        padding: 30px;
    }
}